$max-width: 1280px;
$primary-color: #202020;
$primary-color-light: #303030;
$secondary-color: #272727;
$secondary-color-light: #2F2F2F;
$accent-color-green: #3DDC84;
$accent-color-blue: #4285F4;
$accent-color-blue-light: #073042;
$accent-color-red: #EE3465;
$white-color: #fff;
$white-color-darker: #F5F5F5;
$black-color: #000;
$gray-color: #8B8B8B;
$gray-color-light: #424242;
$gary-color-light-ultra: #DADADA;

$font-family-main: 'Inter', sans-serif;
$font-style-main: normal;
$font-weight-main: 400;

$font-weight-500: 500;

$letter-spacing-s: -0.04em;

$border-radius-s: 3px;
$border-radius-xm: 6px;
$border-radius-m: 10px;
$border-radius-xl: 20px;
$border-radius-xxl: 50px;

$transition-m: 0.5s;