@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.savedMovies {
  @include max-width-center;
  padding: 70px 70px 150px;

  @media screen and (max-width: 770px) {
    padding: 60px 30px 150px;
  }

  @media screen and (max-width: 450px) {
    padding: 40px 10px 150px;
  }
}