@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.favourites {
  height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1 1 auto;
    background-color: $primary-color;
  }

  &__movies {
    @include max-width-center;
    padding: 70px 70px 150px;

    @media screen and (max-width: 770px) {
      padding: 60px 30px 150px;
    }

    @media screen and (max-width: 450px) {
      padding: 40px 10px 150px;
    }
  }

  &__noresult {
    @include max-width-center;
    @include custom-font-size(16px, 20px);
    text-align: center;
    padding: 0 70px;

    @media screen and (max-width: 770px) {
      @include custom-font-size(12px, 15px);
      padding: 0 30px;
    }

    @media screen and (max-width: 450px) {
      padding: 0 10px;
    }
  }
}