@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.about {
  background-color: $primary-color;

  &__container {
    @include max-width-center;
    padding: 110px 70px;

    h2 {
      @include custom-font-size(22px, 27px);
      letter-spacing: $letter-spacing-s;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        margin-top: 46px;
        border-bottom: 1px solid $gary-color-light-ultra;
      }
    }
  }

  &__description {
    margin: 96px 0 110px;
    display: flex;
    gap: 40px;

    h3 {
      @include custom-font-size(20px, 24px);
      margin-bottom: 26px;
      letter-spacing: $letter-spacing-s;
    }

    p {
      @include custom-font-size(14px, 20px);
    }
  }

  &__road {
    width: 100%;
    display: flex;

    li {
      display: flex;
      flex-direction: column;
      gap: 14px;
      text-align: center;

      p {
        @include custom-font-size(14px, 17px);
      }

      span {
        color: $gray-color;
      }
    }

    &_first {
      width: 20%;

      p {
        padding: 9px 14px;
        color: $black-color;
        background-color: $accent-color-green;
      }
    }

    &_second {
      width: 100%;

      p {
        padding: 9px 14px;
        background-color: $primary-color-light;
      }
    }

  }
}