@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.profile {
  @include max-width-center;
  width: 100%;
  height: 100vh;
  padding: 75px 70px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 450px) {
    padding: 70px 30px 40px;
    justify-content: inherit;
  }

  h2 {
    @include custom-font-size(24px, 29px);
    margin: 0 0 125px;
    font-weight: $font-weight-500;

    @media screen and (max-width: 450px) {
      text-align: center;
    }
  }

  form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 450px) {
      flex: 1 1 auto;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }

    & > div:first-of-type {
      border-bottom: 1px solid $gray-color-light;
    }

    p {
      @include custom-font-size(11px, 13px);
      font-weight: $font-weight-500;
      position: absolute;
      left: 15px;
      top: 15px;
    }

    input {
      @include custom-font-size(11px, 13px);
      width: 100%;
      padding: 15px 15px 15px 60px;
      text-align: right;
      border-radius: $border-radius-s;
      color: $white-color;

      &:focus {
        background-color: $gray-color-light;
      }
    }

    span {
      @include custom-font-size(11px, 13px);
      color: $accent-color-red;
    }

    button {
      @include custom-font-size(14px, 17px);
      width: 100%;
      padding: 14px;
      margin: 70px 0 0;
      font-weight: $font-weight-500;
      border-radius: $border-radius-s;
      color: $white-color;
      background-color: $accent-color-blue;

      &:hover {
        opacity: $opacity-m;
      }

      &:disabled {
        cursor: inherit;
        opacity: $opacity-m;
      }

      @media screen and (max-width: 450px) {
        @include custom-font-size(12px, 15px);
        margin-top: auto;
      }
    }
  }

  .edit {

    input {

      &:valid {
        border-color: transparent;
        border-bottom: 1px solid $accent-color-green-dark;
      }

      &:invalid {
        border-bottom: 1px solid $accent-color-red;
      }

      &:invalid[dirtied="true"] {
        color: $accent-color-red;
        border-color: transparent;
        border-bottom: 1px solid $accent-color-red;
      }
    }
  }

  a {
    @include custom-font-size(13px, 16px);
    padding-top: 20px;

    &:hover {
      opacity: $opacity-m;
    }

    @media screen and (max-width: 450px) {
      @include custom-font-size(12px, 15px);
    }
  }
}