@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.profile {
  @include max-width-center;
  width: 100%;
  padding: 75px 70px 70px;
  min-height: calc(100vh - 78px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 770px) {
    min-height: calc(100vh - 74px);
  }

  @media screen and (max-width: 450px) {
    padding: 70px 30px 40px;
    justify-content: inherit;
  }

  h2 {
    @include custom-font-size(24px, 29px);
    margin: 0 0 125px;
    font-weight: $font-weight-500;

    @media screen and (max-width: 450px) {
      text-align: center;
    }
  }

  div {
    max-width: 410px;
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & > div:first-of-type {
    padding-bottom: 18px;
    margin-bottom: 17px;
    border-bottom: 1px solid $gray-color-light;
  }

  p {
    @include custom-font-size(11px, 13px);
    font-weight: $font-weight-500;
  }

  span {
    @include custom-font-size(11px, 13px);
  }

  a {
    @include custom-font-size(13px, 16px);

    &:hover {
      opacity: $opacity-m;
    }

    @media screen and (max-width: 450px) {
      @include custom-font-size(12px, 15px);
    }
  }

  & > a:first-of-type {
    margin-top: 220px;

    @media screen and (max-width: 450px) {
      margin-top: auto;
    }
  }

  &__signout {
    margin-top: 16px;
    font-weight: $font-weight-500;
    color: $accent-color-red;
  }
}