@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.header {

  &__container {
    @include max-width-center;
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_hero {
    background-color: $accent-color-blue-light;
  }

  &__logo {
    width: 38px;
    height: 38px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 50px;

    &_hero {

    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;

    &_hero {
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }

  &__item {
    @include custom-font-size(14px, 18px);

    &_hero {
      @include custom-font-size(12px, 16px);
      font-weight: $font-weight-500;

      &_signin {
        padding: 8px 20px;
        border-radius: $border-radius-s;
        color: $black-color;
        background-color: $accent-color-green;
      }
    }
  }

  button {
    width: 100px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    font-weight: $font-weight-500;
    @include custom-font-size(13px, 12px);
    color: $white-color;

    img {
      width: 26px;
      height: 26px;
      padding: 5px;
      color: $white-color;
      background-color: $primary-color-light;
      border-radius: $border-radius-xxl;
    }
  }
}