@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 38px;
    height: 38px;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  ul {
    display: flex;
    gap: 20px;

    li {
      @include custom-font-size(14px, 18px);
    }
  }

  button {
    width: 100px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    font-weight: $font-weight-500;
    @include custom-font-size(13px, 12px);
    color: $white-color;

    img {
      width: 26px;
      height: 26px;
      padding: 5px;
      color: $white-color;
      background-color: $primary-color-light;
      border-radius: $border-radius-xxl;
    }
  }
}