@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.form {
  @include max-width-center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
    padding: 70px 70px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid $gray-color-light;
  }

  img {
    padding: 12px;
    border: 1px solid $gray-color-light;
    border-radius: $border-radius-xxl;
  }

  input {
    width: 100%;
    min-height: 48px;
    color: $gray-color;

    &::placeholder {
      @include custom-font-size(28px, 34px);
      font-weight: $font-weight-500;
      text-align: center;
      color: $gray-color;
    }
  }

  button {
    @include custom-font-size(11px, 18px);
    padding: 8px 11px;
    font-weight: $font-weight-500;
    color: $white-color;
    background-color: $accent-color-blue;
    border-radius: $border-radius-xxl;
  }

  &__checkbox {
    margin: 30px auto 50px;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  p {
    @include custom-font-size(14px, 18px);
  }
}